@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System
@using System.Globalization
@using NBrightDNN

<!-- Load these scripts to use nbrightajax functions -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/config/js/jquery.genxmlajax.js"></script>
<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuyReport/Themes/config/js/NBrightBuyPlugin.js"></script>

<!-- The basic File Upload plugin -->
<script src="/DesktopModules/NBright/NBrightBuy/Themes/config/js/jquery.fileupload.js"></script>

<!--Resource path-->

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuyReport/App_LocalResources/")

<!--css cursor generate report & download-->
<style>
    .box-content .fa-cogs:hover {
        color: #47BE27;
        cursor: pointer;
    }

    .box-content .fa-download:hover {
        color: #47BE27;
        cursor: pointer;
    }
</style>

<!-- div section to pass param data to the server side ajax functions -->
<div id="selectparams">
    <input id="currentlang" type="hidden" value="@CultureInfo.CurrentCulture" /> <!-- get the current culture and pass to the ajax server side, so it knows what language is -->
    <input id="selecteditemid" type="hidden" value="" /> <!-- used as selected edit itemid -->
    <input id="newitem" type="hidden" value="" /><!-- used to hold "new" token to create new record -->
    <input id="typecode" type="hidden" value="NBSREPORT" /><!-- used as selected edit itemid -->
    <input id="rundisplay" type="hidden" value="" /><!--used to generate a report-->
</div>

<input id="deletemsg" type="hidden" value="@ResourceKey("Admin.deletemsg")" /> <!-- used for prompt on delete -->

<div id="nbsnotify"></div>
<div id="loader" class="processing" style="display:none;">@ResourceKey("General.ProcessingDiv")</div>

<div id="editdata" class="reportlist"></div> <!-- used for display the report list -->

<div id="pageactionssource">
    <!-- Page actions are moved into header bar - also exist at page bottom-->
    <div class="col-xs-9 col-sm-9">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <div class="actionbuttonwrapper">
            <button id="cmdsave" type="button" class="btn btn-primary" style="display: none;">@ResourceKey("General.cmdSaveButton")</button>
            <button id="addnew" type="button" class="btn btn-primary" style="display: none;">@ResourceKey("General.cmdAddButton")</button>
            <button id="cmddelete" type="button" class="btn btn-danger" style="display: none;">@ResourceKey("General.cmdDeleteButton")</button>
            <button id="cmdreturn" type="button" class="btn btn-default" style="display: none;">@ResourceKey("General.cmdReturnButton")</button>
            <button id="cmdRun" type="button" class="btn btn-primary" style="display: none;">@ResourceKey("View.runreport")</button>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 top-panel-right">
        @EditCultureSelect("editlanguage", "", false)
    </div>
</div>

