@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Globalization
@using System.Linq
@using System.Web.UI.WebControls
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components
@using Nevoweb.DNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuyReport/App_LocalResources/")

<!-- The basic File Upload plugin 
<script src="/DesktopModules/NBright/NBrightBuy/Themes/config/js/jquery.fileupload.js"></script>-->

@{
    // assign Model, so we can resolve var in VS
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" />
<input id="editlang" type="hidden" value="@info.Lang" />
<input id="currentlang" type="hidden" value="@CultureInfo.CurrentCulture" /> <!-- get the current culture and pass to the ajax server side, so it knows what language is -->
<input id="typecode" type="hidden" value="NBSREPORT" /><!-- used as selected edit itemid -->
<input id="selectlang" type="hidden" value="" /><!--used switch langauges -->

<!--Report name  -->


<div class="col-xs-12 col-sm-12">
    <div class="form-group">
        <div class="col-sm-12">

            <div class="col-sm-5">
                <label>@ResourceKey("Admin.name")</label>
                @TextBox(info, "genxml/lang/genxml/textbox/name", "class='form-control'")
            </div>

            <!--In-line report-->
            @{
                var rk3 = ResourceKey("Admin.inline").ToString();
            }
            <div class="col-sm-12">
                @CheckBox(info, "genxml/checkbox/inline", rk3, "")
            </div>

            <!--Report description-->

            <div class="col-sm-12">
                <label>@ResourceKey("Admin.description")</label><img src='/Images/Flags/@(info.Lang).gif' width='16px'/>
                @TextArea(info, "genxml/lang/genxml/textbox/description", "class='form-control' rows='4' ")
            </div>

            <!--SQL textbox-->
            <div class="col-sm-12">
                <label>@ResourceKey("Admin.sql")</label>
                @TextArea(info, "genxml/textbox/sql", "class='form-control' rows='12' ")
            </div>

            <!--Html report-->

       <div class="col-sm-9">
            <label>@ResourceKey("Admin.reportformat")</label>
            @RadioButtonList(info, "genxml/radiobuttonlist/reportformat", "html,csv", "HTML,CSV","","html")
        </div>
        <div class="col-sm-3">
            Ref: @info.GUIDKey  Id: @info.ItemID
        </div>

    </div>
</div>


